.header__picture {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  height: 36px;
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 36px;
}

#customNavBar {
  background-color: #984334 !important;
  height: 130px;
  position: absolute; //absolute
  z-index: -1;
  // need to add make the shop go over the cirlces //
}

// .circle { original code with just this
//   height: 60px;
//   width: 120px;
//   top: -10px;
//   right: -10px; //shifts the position of the inner circle
//   background-color: #6e8234;
//   border-radius: 50%;
//   display: inline-block;
//   margin-top: 10px;
//   position: relative;
//   border-radius: 0 0 150px 150px;
//   // z-index: 1; //putting this at -1 makes the inner circle go under
// }

.circle1 {
  height: 60px;
  width: 120px;
  top: -10px;
  right: -10px; //shifts the position of the inner circle
  background-color: #ffc53a;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  border-radius: 0 0 150px 150px;
  // z-index: 1; //putting this at -1 makes the inner circle go under
}

.circle2 {
  height: 60px;
  width: 120px;
  top: -10px;
  // left: -10px; shifts each pair of circles together
  right: -10px; //shifts the position of the inner circle
  background-color: #6289ed;
  border-radius: 50%;
  display: inline-block;
  margin-top: 10px;
  position: relative;
  border-radius: 0 0 150px 150px;
  // z-index: 1; //putting this at -1 makes the inner circle go under
}

.outerCircle {
  //became half circ. because removed the nav bar.
  height: 70px; //70
  min-width: 140px; //140
  top: 50px;
  background-color: #e06d06;
  border-radius: 50%;
  // display: inline-block;
  margin-top: 100px;
  position: relative;
  z-index: -1;
  border-radius: 0 0 150px 150px;
  flex: auto;
}

.outerWindow {
  height: 600px;
  width: 1000px;
  left: -60px;
  background: #6a2f24;
  margin-top: 170px;
  position: relative;
}

.innerWindow {
  height: 550px;
  width: 955px;
  left: 20px;
  background: #5a7d88;
  margin-top: 182px;
  position: relative;
  top: 30px;
  right: -100px;
  z-index: 3;
  overflow-x: scroll;
}

.outerDoor {
  background-color: #9a4333;
  top: -600px;
  height: 670px;
  width: 390px;
  position: relative;
  right: -1100px;
}

.topInnerDoor {
  background-color: #c98275;
  height: 430px; //430
  width: 310px;
  position: relative;
  left: 50px;
  top: 35px;
}

.leftString {
  background-color: #ffbc70;
  width: 5px;
  height: 40px;
  position: relative;
  left: 50px;
}

.rightString {
  background-color: #ffbc70;
  width: 5px;
  height: 40px;
  position: relative;
  left: 250px;
  top: -40px;
}

.sign {
  background-color: #a35700;
  width: 250px;
  height: 55px;
  position: relative;
  top: -40px;
  left: 30px;
}

.shelter {
  // background-color: rgb(156, 212, 87);
  width: 50%;
  // height: 70px;
  position: relative;
  top: -5px;
  left: -12px;
  margin: auto;
  padding: 10px;
  color: white;
  font-size: 30px;
  letter-spacing: 8px;
}

.lowerInnerDoor {
  background-color: #c98275;
  width: 315px;
  height: 180px;
  left: 50px;
  position: relative;
  top: 70px;
}

.doorKnob {
  background-color: rgb(194, 138, 9);
  width: 40px;
  height: 40px;
  position: relative;
  top: -150px;
  left: 5px;
  border-radius: 50%;
}

.keyholeTop {
  background-color: black;
  width: 20%;
  height: 20%;
  border-radius: 50%;
  position: relative;
  top: 15px;
  left: 18px;
}

.keyholeBottom {
  background-color: black;
  width: 10%;
  height: 20%;
  position: relative;
  top: 10px;
  left: 20px;
}

#catShopText {
  color: white;
  display: flex;
  position: fixed;
  padding-left: 42%;
  font-size: 70px;
  word-spacing: 3px;
}

// .customCatShop {
//   max-width: fit-content;
//   // text-align: center;
//   display: flex;
//   padding-left: 30px;
// }

main {
  //this is the top left part of the website **NEED TO FIX**
  background-color: #925073;
}

body {
  //this is the bottom right of the website **NEED TO FIX**
  background-color: #925073;
}

.cardDisplay {
  overflow-x: overflow;
  overflow-y: scroll;
  display: flex;
  gap: 80px;
  width: 4000px; //not sure why the numbers are this big?
  padding-top: 5%;
  margin-left: 60px;
}

.card.mb-3 {
  padding: 20px;
  border-radius: 75px;
  background-color: #d9d9d9;
  width: 328px;
  filter: drop-shadow(0px 0px 17px #393838);
}

img {
  border-radius: 50px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: relative;
  left: -8px;
  filter: drop-shadow(0px 0px 6px #393838);
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.catName {
  font-size: 35px;
  padding: 15px;
  text-align: center;
  letter-spacing: 2px;
}

.cardDetail {
  position: relative;
  left: 50px;
  top: 50px;
}

.LifeExpectancy {
  position: relative;
  left: 450px;
  top: -350px;
}

.PreferredEnvironment {
  position: relative;
  left: 450px;
  top: -325px;
}
